.cadastro {
    background-color: var(--branco);
    padding: 1.5em 1.5em 2em;
}

.cadastro__titulo,
.cadastro__texto,
.cadastro__email {
    background: var(--degrade-azul);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 18px;
    font-weight: 500;
}

.cadastro__titulo {
    font-size: 18px;
    font-weight: 500;
}

.cadastro__texto {
    font-weight: 300;
    margin-block: 0.5em 1.5em;
}

.cadastro__email {
    font-family: var(--font-page);
    padding:  0.4em 0.4em 0.4em 1.5em;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
}

.cadastro__email::placeholder {
    background: url(../assets/Email.svg) no-repeat;
    background-position: 1px;
    padding-left: 1.5em;
}

@media screen and (min-width: 1024px) {
    
    .cadastro {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        padding: 2.5em 1.5em 2.5em;
    }

    .cadastro__container {
        width: 70%;
        margin: auto;
    }

    .cadastro__email {
        width: 70%;
    }

    .cadastro__titulo {
        font-size: 24px;
    }

    .cadastro__texto {
        font-weight: 300;
        margin-top: 1.1em;
    }
}

@media screen and (min-width: 1728px) {
    
    .cadastro {
        padding: 4em 12em;
    }
}