.carrossel__titulo {
    color: var(--laranja);
    font-weight: 700;
    padding: 1em 0 0.5em 0;
    text-align: center;
    background: var(--branco);
    font-size: 18px;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    display: block;
    background-color: var(--branco);
    border-radius: 5px;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1.2em 1em;
    margin: 1em;
}

.card__descrisao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.descrisao {
    margin-right: 1em;
}

.descrisao__titulo {
    font-weight: 700;
    color: var(--laranja);
}

.descrisao__titulo-livro {
    font-size: 18px;
    font-weight: 700;
    color: var(--degrade-azul);
    margin-block: 0.5em;
}

.descrisao__texto {
    font-size: 14px;
    color: var(--degrade-azul);
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    display: flex;
}

.botoes__item {
    margin-inline: 1em;
}

.botoes__link {
    text-decoration: none;
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em 2.2em;
    font-weight: 700;
}

.descricao__nota {
    margin-bottom: 0.5em;
}

@media screen and (min-width: 1024px) {
    
    .carrossel__titulo {
        font-size: 26px;
        padding: 2em 0 0.7em 0;
    }

    .swiper-pagination {
        margin-block: 1em 3em;
    }

    .swiper-pagination-bullet, .swiper-pagination-bullet-active {
        width: 0.6em;
        height: 0.6em;
    }

    .swiper-button-next, .swiper-button-prev {
        display: block;
        margin: 0.5em;
    }

    .swiper {
        width: 60%;
    }

    .card {
      width: 40%;
      margin: 3em auto;  
    }
}

@media screen and (min-width: 1728px) {

    .carrossel__titulo {
        font-size: 32px;
        padding: 1.5em 0 0.7em 0;
    }

    .container__carrossel {
        display: flex;
        align-items: center;
        padding: 2em 10vw 3em 10vw;
    }

    .swiper-pagination {
        margin-block: 0 1em;
    }

    .card {
        width: 55%;
        margin-left: 2em;
    }

    .descrisao {
        margin-right: 2em;
    }

    .descrisao__titulo {
        font-size: 32px;
    }
    
    .descrisao__titulo-livro {
        margin-block: 1em;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 40%;
    }
}
